@tailwind base;
@tailwind components;
@tailwind utilities;
body{
    background-color: #020617;
}
#Shape1 {
    opacity: 0;
    animation: Shape1 13s ease infinite;
}
@keyframes Shape1 {
    0% {
        opacity: 0; 
    }
    10% {
        opacity: 0.5; 
    }
    60% {
        opacity: 0.4; 
    }
    100% {
        opacity: 0; 
    }
}
